@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    color: white;
    background-color: #fefefe;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {

    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #0041C2;
}



.titulo3 {
    color: #fff;
    font-size: 70px;
    width: 50%;
}

.icono {
    height: 30px;
    width: 30px;
    margin-right: 30px;
}


.footer {
    align-items: center;
    text-align: center;
    height: 150px;

    width: 100%;
    background-color: #0041C2;
    padding-top: 50px;
}

.info2 {
    margin-top: 10px;
    color: #fff;
}

header {
    background-color: #0041C2;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 12%;
    transition: all 0.5s ease;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    color: white;
    font-size: 1.7rem;
    font-weight: 600;
}

.navbar {
    display: flex;
}

.navbar a {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all 0.5s ease;
}

.navbar a:hover {
    color: lightblue;
}

.navbar a.active {
    color: lightblue;
}

.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.5s ease;
}

.user {
    display: flex;
    align-items: center;
}




#menu-icon {
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    z-index: 10001;
    display: none;
}









.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url('https://scontent.fsyq2-1.fna.fbcdn.net/v/t39.30808-6/310185230_526687662796410_1029534942167521118_n.jpg?_nc_cat=106&cb=99be929b-3346023f&ccb=1-7&_nc_sid=300f58&_nc_ohc=QD72cfycHaEAX9LbXVY&_nc_ht=scontent.fsyq2-1.fna&oh=00_AfDk_SL93RXwUsn9Npu2xJzsrqRyL3qlzgdmz-qnNUWtlg&oe=64D9B676');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;

}



.text {
    margin-bottom: 10px;
}

.image {
    margin-top: 20px;
    width: 500px;
    height: 300px;

}

.QueEs {

    margin: 100px 0;
    padding: 0 100px;
    width: 100%;
    height: 300px;
    color: #0041C2;

}

.QueEsTitulo {
    text-align: center;
    border-bottom: #0041C2 0.5px solid;
}

.QueEsTexto {
    text-align: justify;
}

.informacion2 {
    padding-top: 35px;
    padding-left: 50px;
    padding-right: 30px;
    text-align: justify;
    width: 100%;
    height: 350px;
    background-color: #F5F5F5;
    border-bottom: 0.2px solid gray;
}

.informacion5 {
    padding: 50px;
    text-align: center;
    width: 100%;
    height: 700px;
    background-color: #E3F2FD;
    border-bottom: 0.2px solid gray;
    color: #194A8D;
}


.icons {
    height: 40px;
    width: 40px;
}

@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: 0.2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }

    .icons {
        margin-top: 1px;
        margin-left: -1px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 38vh;
        background: #0041C2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all 0.5s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all 0.5s ease;
    }

    .navbar a:hover {
        color: #fff;
        transform: translateY(5px);
    }

    .navbar a.active {
        color: #fff;
    }

    .navbar.open {
        right: 2%;
    }


    .icons {
        height: 30px;
        width: 30px;
    }

}

@media (max-width: 400px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 55vh;
        background: #0041C2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all 0.5s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all 0.5s ease;
    }

    .navbar a:hover {
        color: #fff;
        transform: translateY(5px);
    }

    .navbar a.active {
        color: #fff;
    }

    .navbar.open {
        right: 2%;
    }


    .icons {
        height: 30px;
        width: 30px;
    }

    .QueEs {
        margin: 100px 0;
        padding: 0 30px;
        width: 100%;
        height: 300px;
        color: #0041C2;
        margin-bottom: 600px;
    }
    .informacion2{
        height: 600px;
    }
    .informacion5{
        height: 800px;
    }

}